
:root {
  --white: #ffffff;
  --black: #000000;
  --smoky-black:  #150d1c;
  --onyx: #363946;
  --black-coral: #595d73;
  --font: 'Muli', sans-serif;
  --font-sign: 'Caveat', cursive;
}

$mobileM : 375px;
$mobileL : 425px;
$mobile : 576px;
$tablet : 768px;
$ptablet : 992px;
$desktop : 1200px;

