@import 'reset';
@import 'variable';
.no-js{
  overflow: hidden;
}
.noscriptmsg,
.browserupgrade {
  background: var(--white);
  color: var(--black);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

body {
  background-color: var(--smoky-black);
  font-family: var(--font);
  color: var(--white);
  padding-top: 45px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.title-2 {
  font-size: 36px;

  @media(min-width: $tablet) {
    font-size: 48px;
  }

  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.16;
  margin-bottom: 20px;
}

.title-3 {
  font-size: 20px;

  @media(min-width: $tablet) {
    font-size: 28px;
  }

  line-height: 1.25;
  margin-bottom: 40px;
}

.link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  padding-bottom: 5px;
  overflow: hidden;

  &:after {
    content: "";
    display: inline-block;
    background: url('../images/link.png') no-repeat center;
    background-size: contain;
    margin-left: 20px;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    transform: translateY(30px);
    transform-origin: top;
    transition: transform .2s ease-in-out;
    will-change: transform;

  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 1px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-in-out;
    will-change: transform;

    display: block;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.about-me {
  text-align: center;
  margin: 0 auto;

  &--signature {
    // font-family: var(--font-sign);
    // letter-spacing: -2px;
    // font-size: 50px;
    // text-align: center;
    margin-bottom: 25px;

    @media(min-width: $tablet) {
      margin-bottom: 50px;
    }
  }

  &--intro {
    margin: 0 auto;
    max-width: 620px;
    text-align: center;
    font-size: 16px;

    @media(min-width: $mobile) {
      font-size: 20px;
    }

    line-height: 1.5;
    margin-bottom: 80px;
  }

  &--services {
    margin: 0 auto 50px;

    @media(min-width: $mobile) {
      margin-bottom: 80px;
    }

    .service {
      display: inline-block;
      padding: 0 20px 20px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &--graph {
    display: block;
    margin: 0 auto;
  }
}

.what-iam {
  &--working {
    margin: 40px auto;

    @media(min-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }

  &--heading,
  &--content {
    @media(min-width: $tablet) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &--content {
    &__services {
      display: flex;

      .list-column {
        &:first-child {
          margin-right: 20px;

          @media(min-width: $tablet) {
            margin-right: 80px;
          }
        }

        .list-item-h {
          font-size: 16px;
          letter-spacing: 0.5px;
          padding: 12px 0;
          border-bottom: 3px solid rgba(255, 255, 255, .1);
          text-transform: uppercase;
        }

        .list-item-c {
          padding: 12px 0;
          line-height: 1.25;
          border-bottom: 1px solid rgba(255, 255, 255, .1);

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

.what-i-worked {
  max-width: 340px;
  margin-top: 80px;

  @media(min-width: $tablet) {
    margin-top: 120px;
    margin-left: 80px;
  }

  &--text {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 1.5;
    padding-bottom: 80px;
  }
}

.works {
  display: flex;
  flex-wrap: wrap;

  display: grid;
  gap: 60px 30px;

  @media(min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }

  @media(min-width: $tablet) {
    display: grid;
    margin-left: 80px;
    row-gap: 30px;
  }

  @media(min-width: $ptablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(min-width: $desktop) {
    margin-left: 0;
    gap: 100px 60px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ". . . . one one one one two two two two"
      ". . . . three three three three . . . ."
      ". . . . four four four four four . . .";
  }
}

.work {
  @media(min-width: 500px) {
    grid-column: span 1;

    &:last-child {
      grid-column: span 2;
    }
  }

  @media(min-width: $desktop) {
    margin-bottom: 0;

    &:nth-child(1) {
      grid-area: one;
    }

    &:nth-child(2) {
      grid-area: two;
    }

    &:nth-child(3) {
      grid-area: three;
    }

    &:nth-child(4) {
      grid-area: four;
    }
  }

  a {
    color: var(--white);

    &:hover {
      .link {
        &:after {
          transform-origin: bottom;
          transform: translateY(0);
        }

        &:before {
          transform: scaleX(1);
          transform-origin: left;
          width: calc(100% - 36px);
        }
      }
    }
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 1.4;
  }

  &__tagline {
    display: block;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 1.5;
    display: block;
  }

  &__info {
    @media(min-width: $tablet) {
      max-width: 80%;
    }

    margin: 15px 0 20px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  &__list {
    li {
      &:last-child a {
        border-bottom: 0;
        cursor: text;
      }

      a {
        flex: 1 1 auto;
        width: 100%;
        padding: 16px 24px;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        color: var(--white);
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.33;

        .visit-link {
          opacity: 0;
          position: relative;
          left: -50px;
          transition: left .2s ease-in-out;
          will-change: left;

          &:after {
            content: "";
            display: inline-block;
            background: url('../images/link.png') no-repeat center;
            background-size: contain;
            margin-left: 4px;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            transform-origin: top;
            transition: transform .2s ease-in-out, opacity .2s ease-in-out;
            will-change: transform, opacity;
          }

        }

        &:hover {
          .visit-link {
            opacity: 1;
            left: 20px;
            transition: left .2s ease-in-out, opacity .2s ease-in-out;
            will-change: left, opacity;

          }
        }
      }
    }
  }
}


.testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 120px;

  &--card {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    background: transparent url('../images/testimonials.png') no-repeat scroll center center / cover;
    background: transparent url('../images/testimonials.webp') no-repeat scroll center center / cover;

    &:first-child {
      padding: 40px 58px 25px;
      margin-bottom: 30px;
    }

    &:last-child {
      padding: 24px 10px;

      .testimonial--by {
        margin-right: 50px;
      }
    }


    @media(min-width: $mobileL) {

      &:last-child {
        .testimonial--by {
          margin-right: 20px;
        }
      }

      justify-content: flex-start;
      min-height: 343px;
      width: 42%;
      margin: 20px;
      padding: 25px 58px;
    }

    @media(min-width: $ptablet) {
      min-height: 384px;
      width: 33.33333333%;
      padding: 58px 40px;

      &:last-child {
        padding-top: 40px;
      }
    }
  }

  &--content {
    color: #003051;
    line-height: 1.45;
    letter-spacing: 1px;
    font-family: "Dosis", sans-serif;

    @media(min-width: $tablet) {
      font-size: 18px;
    }
  }

  &--by {
    margin-top: 14px;
    position: relative;
    text-align: right;
    font-weight: 600;
    color: #003051;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: "Dosis", sans-serif;

    @media(min-width: $tablet) {
      font-size: 28px;
    }
  }

}



.talk--to {
  padding-top: 90px;
  padding-bottom: 90px;

  @media(min-width: $tablet) {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  z-index: 1;
  position: relative;
  text-align: center;

  &-me {

    font-size: 44px;
    margin-bottom: 60px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: -.5px;

    @media(min-width: $tablet) {
      font-size: 60px;
    }

    span {
      @media(min-width: $mobile) {
        display: block;
      }
    }
  }

  .mail--me {
    padding: 20px 40px;
    border-radius: 40px;
    border: none;
    background-color: #042825;
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

// footer link
.lead-me-out {
  font-family: var(--font);
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 1px;
  color: var(--onyx);

  ul {
    border-top: 1px solid #3b3e4d;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media(min-width: $tablet) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 40px;
    }

    @media(min-width: $desktop) {
      padding-left: 0;
      padding-right: 0;
    }

    li {

      margin-right: 30px;

      @media(min-width: $mobile) {
        // margin-bottom: 33px;
        flex: 1 0 auto;
        text-align: center;
      }

      &:nth-child(1) {
        margin-top: 40px;
        order: 2;
        margin-right: 0px;
        margin-left: 0px;
        flex: 1 0 100%;
        text-align: center;

        @media(min-width: $mobile) {
          margin-top: 0;
          order: 0;
          text-align: left;
          flex: 1 0 auto;
        }

        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          color: var(--text-black);
          margin-right: 0;

          &:hover {
            color: var(--red);
          }
        }
      }


      &:last-child {
        margin-right: 0;
      }


    }


  }
}
